body{
    background-color: #000;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font: 15px Monospace;
    color: #0f0;
}

#top{
    height: 40px;
    background-color: #222;
    overflow: hidden;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 30px;
}

#page{
    overflow:hidden;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    background-color:#212;
    color: #0f0;
    padding-top:0px;
    margin-bottom: -130px;
}
h1{
    font-size: 30px;
    text-align: center;
    color: #0f0;
}
.post{standard terminal font
    padding-top: 5em;
    margin-left: 20%;
    margin-right: 20%;
}

#bottom{
    height: 30px;
    width: 60%;
    background-color: #222;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.b-img{
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
